ul li {
  display: flex;
  flex-direction: row;
  align-items: center;
  border: 1px solid midnightblue;
  padding: 6px ;
  margin: 6px;
  border-radius: 4px;
  transition: all ease-in-out 170ms;
 
  &:hover {
    border: 1px solid lightgreen;
    background-color: #9acd322e;
  }

  button {
    cursor: pointer;
    margin-right: 16px;
    &:active {
      border: 2px solid midnightblue;
    }
  }
}

.joke-list-wrapper {
  width: 75vw;
  display: flex;
}
