button.start {
  margin: 10px;
  text-transform: uppercase;
  background-color: chartreuse;
  border: 1px solid chartreuse;
  cursor: pointer;
  color: black;
  width: 80px;
  padding: 6px;
  border-radius: 6px;

  &:active {
    border-color: midnightblue;
  }

  &.active {
    background-color: red;
  }
}